button {
  background-color: #555555;
  border: none;
  color: white;
  box-shadow: 2.25px 2.25px 5px gray;
}

body {
  /* background-image: url("https://s3.ax1x.com/2020/11/12/Bz5HxJ.png"); */
  background-image: url("https://img.freepik.com/free-photo/old-gray-cement-wall-background_34552-324.jpg");
  background-size: cover;
  /* font-family: sans-serif; */
}

.primary {
  background-color: #0098DC;
  /* font-weight: bold; */
}

.react-tabs__tab--selected {
  background-color: #e7e7e7;
}

.board {
  height: 600px;
  width: 370px;
  border: 2.5px solid #a0a0a0;
  margin: 2%;

  position: relative;
}

.card-display {
  position: absolute;
  width: 100%;
  height: 61.8%;
  top: 0%;
  left: 105%;
}

@media screen and (max-width:1000px) {
  .board {
    height: 600px;
    width: 90%;
    margin: 5%;
    border: 2px solid;
  }

  .card-display {
    display: none;
  }
}

/* TODO: reconstruct this */
.player-panel-button {
  font-size: 105%;
  margin-right: 2%;
}

.preview-button {
  font-size: 105%;
  margin-left: 3%;
  padding: 3%;
}

.pick-toggle-button {
  position: absolute;
  top: 45%;
  left: 60%;
  font-size: 110%;
}


.title-img {
  position: absolute;
  top: 3%;
  left: 25%;
  height: auto;
  width: 50%;
}