.board {
  height: 600px;
  width: 370px;
  border: 2px solid;
  margin: 2%;

  position: relative;
}

.card-display {
  position: absolute;
  width: 100%;
  height: 61.8%;
  top: 0%;
  left: 105%;
}

@media screen and (max-width:1000px) {
  .board {
    height: 600px;
    width: 90%;
    margin: 5%;
    border: 2px solid;
  }

  .card-display {
    display: none;
  }
}

/* TODO: reconstruct this */
.player-panel-button {
  font-size: 105%;
  margin-right: 2%;
}

.preview-button {
  font-size: 105%;
  margin-left: 3%;
  padding: 3%;
}

.pick-toggle-button {
  position: absolute;
  top: 45%;
  left: 60%;
  font-size: 110%;
}