button {
  background-color: #555555;
  border: none;
  color: white;
  box-shadow: 2.25px 2.25px 5px gray;
}

body {
  /* background-image: url("https://s3.ax1x.com/2020/11/12/Bz5HxJ.png"); */
  background-image: url("https://img.freepik.com/free-photo/old-gray-cement-wall-background_34552-324.jpg");
  background-size: cover;
  /* font-family: sans-serif; */
}

.primary {
  background-color: #0098DC;
  /* font-weight: bold; */
}

.react-tabs__tab--selected {
  background-color: #e7e7e7;
}

.board {
  height: 600px;
  /* height: 900px; */
  width: 370px;
  /* width: 971px; */
  border: 2.5px solid #a0a0a0;
  margin: 2%;

  position: relative;
}

.card-display {
  position: absolute;
  width: 470px;
  height: 500px;
  top: 0%;
  left: 100%;
  font-size: 110%;
}

.mulligan-intro {
  position: absolute;
  top: 8%;
  left: 3%;
}

.roguelike-shop-intro {
  margin-top: 38.2%;
  margin-left: 2%;
}

/* On phone */
@media screen and (max-width:1000px) {
  .card-display {
    display: none;
  }
  .board {
    height: 600px;
    width: 90%;
    margin: 5%;
    border: 2px solid #a0a0a0;
  }
}

/* On computer */
@media (min-width: 768px) {
  .game-board {
    width: 800px;
    border: none;
  }

  .mulligan-intro {
    top: -6%;
  }

  .roguelike-shop-intro {
    margin-top: 10%;
  }
}

/* TODO: reconstruct this */
.player-panel-button {
  font-size: 105%;
  margin-right: 2%;
}

.preview-button {
  font-size: 105%;
  margin-left: 3%;
  padding: 3%;
}

.pick-toggle-button {
  position: absolute;
  top: 45%;
  left: 60%;
  font-size: 110%;
}


.title-img {
  position: absolute;
  top: 3%;
  left: 25%;
  height: auto;
  width: 50%;
}