.dialog-heading {
  width: 45%;
  height: auto;
  margin-top: 20%;
  margin-bottom: 10%;
}

.dialog {
  font-size: 115%;
  margin-bottom: 8%;
}

.dialog-button {
  width: 28%;
  height: 10%;
  font-size: 120%;
  margin-top: 3%;
}

.demonstrate-img {
  width: 80%;
  height: auto;
  margin-top: 24%;
  margin-bottom: 5%;
  border-bottom: 3px solid #8c8c8c;
}