.card {
  height: 90%;
  width: 23%;
  margin: 1%;
  margin-right: 3%;

  position: relative;

  flex-shrink: 0;
}

.card-row {
  display: flex;
  overflow-x: scroll;

  border: solid 2px black;
  margin: 2%;
  width: 95%;
  height: 20%;
}

.data {
  position: absolute;
  background-color: white;
  border: 1px solid;
}

.cost {
  top: 2%;
  left: 2%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.mine, .block, .power {
  top: -2%;
  left: 2%;
  height: 20%;
  width: 45%;
  text-align: center;
  font-size: 100%;
  overflow: hidden;
}

.block {
  left: 55%;
}

.power {
  top: 25%;
  width: 35%;
  height: 18%;
  font-size: 90%;
}

.cost_detailed {
  top: 3%;
  left: 5%;
  height: 15%;
  width: 15%;
  text-align: center;
  font-size: 200%;
}

.atk {
  top: 78%;
  left: 8%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.hp {
  top: 78%;
  left: 76%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.reward {
  top: 40%;
  left: 67%;
  height: 25%;
  width: 40%;
  text-align: center;
}

.order_effect, .finished_effect {
  top: 2%;
  left: 6%;
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 70%;
  overflow-y: scroll;
}

.order_effect {
  top: 100%;
}

.finished_effect {
  top: 5%;
}

.desc {
  top: 61%;
  left: 5%;
  height: 30%;
  width: 90%;
  text-align: center;
  font-size: 80%;
  overflow: scroll;
}

.requirements {
  top: -2%;
  left: 2%;
  height: 80%;
  width: 40%;
  text-align: center;
}

.score {
  top: 2%;
  left: 72%;
  height: 35%;
  width: 35%;
  text-align: center;
  font-size: 135%;
}

.illust, .e_illust, .o_illust, .illust_detailed, .eo_illust_detailed, .r_illust, .r_illust_detailed, .upgrade_name {
  width: 90%;
  height: 90%;
  margin: 10%;
  overflow: hidden;
}

.illust_detailed, .r_illust_detailed, .eo_illust_detailed {
  border: 0px;
}

img.illust {
  width: 350%;
  height: auto;
  margin-left: -120%;
}

img.r_illust {
  width: 350%;
  height: auto;
  margin-left: -120%;
  margin-top: -200%;
  transform: scaleY(-1);
}

img.e_illust, img.eo_illust_detailed {
  width: 100%;
  height: auto;
  margin-left: 0%;
}

/* img.o_illust {
  width: 140%;
  height: auto;
  border: 0px;
}  */

img.rhine_illust {
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-top: 30%;
}

img.o_illust {
  width: 300%;
  height: auto;
  margin-left: -45%;
  margin-top: -20%;
}

img.illust_detailed, img.r_illust_detailed {
  width: 200%;
  height: auto;
  margin-left: -50%;
  border: 0px;
}

img.r_illust_detailed {
  transform: rotate(90deg);
  margin-left: -100%;
  margin-top: -50%;
}

.upgrade_name {
  text-align: center;
}

.check-card {
  height: 55%;
  width: 95%;
  margin-top: 20%;
}

.card-detailed {
  height: 95%;
  width: 60%;
  border: 2px solid;
  margin: 2%;

  position: relative;
  flex-shrink: 0;
}

.card-detailed-row {
  display: flex;
  overflow-x: scroll;
  position: relative;
  /* TODO: align items to center when there's only one card, items-align does not work, this is essential for combining SCardRow and CardDetailed */

  border: solid 2px black;
  margin: 2%;
  width: 95%;
  height: 60%;
  margin-top: 25%;
}

.card-detailed-button {
  font-size: 105%;
  margin-top: 5%;
}

.type-filter {
  font-size: 110%;
  height: 3%;
  overflow-x: scroll;
}