.card {
  height: 90%;
  width: 23%;
  margin: 1%;
  margin-right: 3%;

  position: relative;

  flex-shrink: 0;
}

.card-row {
  display: flex;
  overflow-x: scroll;

  border: solid 2px black;
  margin: 2%;
  width: 95%;
  height: 20%;
}

.data {
  position: absolute;
  background-color: white;
  border: 1px solid;
}

.cost {
  top: 2%;
  left: 2%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.mine, .block {
  top: -2%;
  left: 2%;
  height: 20%;
  width: 45%;
  text-align: center;
  font-size: 100%;
  overflow: hidden;
}

.block {
  left: 55%;
}

.cost_detailed {
  top: 3%;
  left: 5%;
  height: 15%;
  width: 15%;
  text-align: center;
  font-size: 200%;
}

.atk {
  top: 78%;
  left: 8%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.hp {
  top: 78%;
  left: 76%;
  height: 25%;
  width: 25%;
  text-align: center;
}

.reward {
  top: 40%;
  left: 67%;
  height: 25%;
  width: 40%;
  text-align: center;
}

.order_effect, .finished_effect {
  top: 2%;
  left: 2%;
  height: 25%;
  width: 110%;
  text-align: center;
  font-size: 75%;
}

.order_effect {
  top: 105%;
}

.desc {
  top: 61%;
  left: 5%;
  height: 30%;
  width: 90%;
  text-align: center;
}

.requirements {
  top: -2%;
  left: 2%;
  height: 80%;
  width: 40%;
  text-align: center;
}

.score {
  top: 2%;
  left: 72%;
  height: 35%;
  width: 35%;
  text-align: center;
  font-size: 135%;
}

.illust, .e_illust, .o_illust, .illust_detailed, .eo_illust_detailed {
  width: 90%;
  height: 90%;
  margin: 10%;
  overflow: hidden;
}

.illust_detailed, .eo_illust_detailed {
  border: 0px;
}

img.illust {
  width: 350%;
  height: auto;
  margin-left: -120%;
  border: 0px;
}

img.e_illust, img.eo_illust_detailed {
  width: 100%;
  height: auto;
  margin-left: 0%;
  border: 0px;
}

/* img.o_illust {
  width: 140%;
  height: auto;
  border: 0px;
}  */

img.o_illust {
  width: 300%;
  height: auto;
  margin-left: -45%;
  margin-top: -20%;
}

img.illust_detailed {
  width: 200%;
  height: auto;
  margin-left: -50%;
  border: 0px;
}

.card-board {
  height: 75%;
  width: 80%;
  margin-top: 10%;
}

.card-detailed {
  height: 80%;
  width: 80%;
  border: 2px solid;
  margin: 2%;

  position: relative;
}

.card-detailed-button {
  font-size: 105%;
  margin-top: 5%;
}