.deck-repr {
  display: inline-block;
  width: 28%;
  height: 30%;
  border: 2px solid gray;
  margin: 2%;
  margin-bottom: 5%;
}

.deck-selection-title {
  margin: 2%;
  margin-top: 38.2%;
  font-size: 110%;
}

.deck-repr-name {
  font-size: 80%;
  height: 40%;
}

.deck-repr-button {
  font-size: 100%;
  width: 90%;
  height: 25%;
  margin-bottom: 8%;
}

.deck-selection-button {
  font-size: 110%;
  margin: 1%;
  padding: 2%;
}

.card-desc {
  margin: 2%;
  height: 14%;
  overflow-y: auto;
}

.upgrade-desc {
  margin: 2%;
  height: 6%;
  overflow-y: auto;
}

.results {
  margin-top: 20%;
  width: 100%;
  font-size: 300%;
  color: #4682B4;
}

.final-result {
  font-size: 150%;
  width: 100%;
  height: 35%;
  margin-top: 10%;
}

.deck-upgrade-cardrow {
  margin-top: 30%;
}

@media (min-width: 768px) {
  .deck-upgrade-cardrow {
    margin-top: 10%;
  }
}