.controller {
  display: flex;
  margin: 2%;
  width: 95%;
  height: 7%;
  overflow-y: scroll;
}

.controller-button {
  /* button.controller doesn't work, I need to figure out why */
  flex-shrink: 0;
  margin: 1%;
  font-size: 110%;
}

button.enter-game {
  margin-left: 3%;
  margin-bottom: 3%;
  padding: 2%;
  font-size: 110%;
}