.controller {
  height: 7%;
  margin: 2%;
  overflow: scroll;
}

.controller-button {
  /* button.controller doesn't work, I need to figure out why */
  margin: 1%;
  font-size: 110%;
}

.enter-game {

}

button.enter-game {
  margin-left: 3%;
  padding: 2%;
  font-size: 110%;
}