.deck-construction {
  height: 70%;
  width: 90%;
  margin: 5%;
  margin-top: 5%;
  overflow: scroll;
}

.deck-generation {
  height: 50%;
  width: 80%;
  margin: 5%;
  margin-top: 30%;
}

.deck-construction-textarea {

}

.input-deck-name {
  height: 10%;
  width: 80%;
  font-size: 110%;
}

.lock-seed-button {
  font-size: 102%;
}

.deck-construction-button, .deck-construction-util-button {
  margin-right: 2%;
  margin-top: 20%;
  font-size: 105%;
}

.deck-construction-util-button {
  margin-top: 2%;
}