.multiplayer-intro, .create-room-intro {
  margin-top: 5%;
  font-size: 110%;
  margin-bottom: 10%;
}

.multiplayer-img {
  width: auto;
  height: 35%;
}

.create-room-intro {
  margin-top: 30%;
}

.multiplayer-btn, .difficulty-btn, .multiplayer-back-btn, .multiplayer-intro-btn {
  font-size: 110%;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.multiplayer-back-btn {
  /* margin-right: 30%; */
  margin-top: 12%;
  width: 20%;
}

.multiplayer-intro-btn {
  margin-left: 5%;
}

.multiplayer-group {
  color: #595959;
}

.difficulty-btn {
  padding: 4%;
  width: 25%;
  font-size: 120%;
}