/* .game-panel, .player-panel {
  background-color: rgba(69,69,69,0.9);
  color: white;
} */

.game-panel {
  height: 8.8%;
  border: 2px solid #141414;
  text-align: center;
  margin: 2%;
  font-size: 90%;
  overflow-y: hidden;
  position: relative;
}

.player-panel {
  height: 12%;
  border: 2px solid #141414;
  text-align: center;
  margin: 2%;
}

.player-data {
  margin-top: 2%;
}

@media (min-width: 768px) {
  .player-data {
    margin-top: 0.5%;
  }
}