.game-panel {
  height: 8%;
  border: 2px solid;
  text-align: center;
  margin: 2%;
  font-size: 90%;
  position: relative;
}

.player-panel {
  height: 10%;
  border: 2px solid;
  text-align: center;
  margin: 2%;
}