.tag-selection {
  display: flex;
  flex-flow: wrap;
  overflow-y: scroll;
  height: 40%;
  width: 75%;
  margin: 2%;
  border: 2px solid;
  /* background-color: #313131; */
}

.tag {
  flex-shrink: 0;
  width: 32%;
  height: 40%;
  margin: 0.5% 0.5% 2.5% 0.5%;
}
/* TODO: restyle this without using table */

.tag-img {
  width: 100%;
  height: auto;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* border: 3px solid; */
  /* background-color: #313131; */
}

.tag-list {
  display: inline-block;
  height: 30%;
  width: 60%;
  border: 2px solid;
  margin: 2%;
  font-size: 80%;
  overflow-y: scroll;
}

.just-selected {
  color: #096dd9;
}

.risk-level {
  display: inline-block;
  margin: 2%;
  height: 30%;
  width: 30%;
  vertical-align: top;
}
/* TODO: restyle risk level to make it upper, margintop doesn't work */

.risk-level-value {
  font-size: 500%;
}